.main-container {
    height: 58vh;
    width: 100%;
    background-image: url('../../assets/home-background.jpg');
    background-size: 180%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

}

#check-dates {
    width: 80%;
    height: 46vh;
    margin-top: 5%;
    background-color:white;
    padding: 20px;
    border-radius: 6px;
    /* opacity: 98%; */
}

img {
    width: 100%;
    height: auto;
}

.check-item {
    display: flex;
    flex-direction: column;
    align-items: initial;
    padding: 5px;
}

.check-item input{
    height: 2.5rem;
    width: 80%;
    margin-top: 0.1rem;
    border-radius: 0.4rem;
    border: 1px solid hsl(0, 0%, 64%);
    outline: 0;
    padding: 0 1.6rem;
    font: 1rem Roboto; 
}

#check-dates button{
    width: 100%;
    margin-top: 18px; 
    margin-left: 20;
}

#check-dates input[type=number]{
    width: 25px;
}
#check-dates label{
    /* /* font: 400 14px Roboto, sans-serif; */
    /* color: cornsilk; */
    color: black;
    margin-bottom: 8px; 
    align-items: left;
}

.check-item input:focus{
    border-color: #084B8A;
    background-color: rgb(244, 248, 250);
}

img {
    width: 100%;
}

h1, h2 {
    margin: 3%;
    font: 400 28px Roboto, sans-serif;
}

p, li {
    margin: 3%;
    font: 400 15px Roboto;
    text-align: left;
}


@media (min-width: 800px) {

    .main-container {
        height: 100%;
        width: 100%;

        background-image: url('../../assets/home-background.jpg');
        background-size: 100%;
        background-repeat: no-repeat;

        display: flex;

        align-content: center;
        justify-content: center;
        height: 500px;

        /* background-color: lawngreen; */
    }

    #check-dates {
        width: 800px;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* opacity: 93%; */
        transform: translateY(100%);

    }

    .check-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    #check-dates button{
        /* border-radius: 3px; */
        width: 7rem;
        /* height: 35px; */
        margin-top: 23px; 
        margin-left: 20;
    }

    #check-dates input[type=number]{
        width: 25px;
    }
    #check-dates label{
        font: 400 17px Roboto, sans-serif;
        /* color: cornsilk; */
        color: black;
        margin-bottom: 6px;
    }

    img {
        width: 100%;
    }

    h1 {
        font: 400 35px Roboto, sans-serif;
    }

    p, li {

        font: 400 18px Roboto;
        text-align: left;
    }

    .map {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: space-between;
        
    }

    .porque-conosco{
        width: 40%;
        text-align: left;
        text-align: left;
        /* margin-right: 80px; */
    }


    .check-item:focus-within::after{
        /* width: calc(100% - 3.2rem); */
        height: 2px;
        content: '';
        background: #084B8A;
        position: absolute;
        left: 1.6rem;
        right: 1.6rem;
        bottom: 0;
      }
}
