.top-contact {
    padding: 10px;
    height: 14rem;
    color: white;
    background-color: #084B8A;
    font:Roboto;
    /* width: 100%; */
}

.reservar {
    display: flex; 
    flex-direction: column; 
    align-content: center;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
}

.menu a {
    display: table-cell;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: opacity 0.5s;
  }

  .menu a:hover {
    opacity: 0.6;
  }


@media (min-width: 800px) {
.top-contact {
    display: flex;
    padding: 10px;
    height: 40px;
    color: white;
    justify-content: space-between;
    background-color: #084B8A;
    font:Roboto;
    width: 100%;
}

.top-prime {
    display: flex;
    width: 500px;
}

.top-prime h3 {
    margin-top: -4px;
    padding: 10px;
    /* margin-left: -380px; */
}
.top-prime h1 {
    margin-top: -5px;
    text-align: left;
}

.top-contact h4 {
    margin-top: 0px;
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

.reservar {
    line-height:30px;
    justify-items: right;
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    align-content: center;
}


.menu {
    
    height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

.menu a {
    display: table-cell;
    padding: 14px;
    text-decoration: none;
    color: #084B8A;
    font-size: 17px bold;
    transition: opacity 0.5s;
  }

  .menu a:hover {
    opacity: 0.6;
  }
}

